<div class="text-center">
  <h1>There's always something for everyone</h1>
</div>
<div class="row no-gutter gallery">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= link_to image_tag('landingpage1.jpg'), "http://localhost:3000/posts?utf8=%E2%9C%93&search=dress" %></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage2.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= link_to image_tag('landingpage3.jpg'), "http://localhost:3000/posts?utf8=%E2%9C%93&search=converse" %></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage4.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage5.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage6.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage7.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage8.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage9.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage10.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage11.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage12.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage13.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage14.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage15.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage16.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage17.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage18.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage19.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage20.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage21.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage22.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage23.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage24.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage25.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage26.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage27.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage28.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage29.jpg'%></div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 box"><%= image_tag 'landingpage30.jpg'%></div>
</div>

