<p id="notice"><%= notice %></p>

<% if @conversation.user1 == current_user %>
  <% recipient = User.find(@conversation.user2.id) %>
  <% else %>
  <% recipient = User.find(@conversation.user1.id) %>
<% end %>

<h1 class= "text-center" ><%= recipient.username %></h1>

 <% @messages.each do |message| %>
  <% if message.content %>
   <% user = User.find(message.sender_id) %>
   <div class=”item”>
    <div class=”content”>
     <div class=”header”><strong><%= user.username %></strong>  
      <div class=”list”>
       <div class=”item”>
        <i class=”right triangle icon”></i>
         <%= message.content %>
      </div>
    </div>
   </div>
 </div>
 <% end %>
<% end %>
</div>

<%= form_for([@conversation, @conversation.messages.build]) do |f| %>
   <%= f.text_area :content %>
 <% f.text_field :user, value: current_user.id %>
   <%= f.submit "Reply" %>
<% end %>


<h2>Reply with a GIF</h2>
<%= form_with url: conversation_messages_path(@conversation), local: true, method: :get do |f| %>
<%= f.text_field :query %>
<%= f.button "Search" %>
  <% if @gif %>
<%= image_tag @gif%>
<% end %>
<% end %>
