
<div class="text-center">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>

  <%= link_to "Back", :back %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,  multipart: true  }) do |f| %>
  <div class="text-center">
    <%= devise_error_messages! %>
  </div>
    <div class="setup-wrapper" >
      <%= bootstrap_form_for(@user) do |f| %>
      <div class='setup-form'>
        <%= f.email_field :email %>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
        <%= f.text_field :bio %>
        <%= f.text_field :location %>
        <%= f.file_field :images, multiple: true %>
        <%= f.hidden_field :images_cache %>
        <%= f.date_field :dob, label: "Date of birth" %>
        <%= f.password_field :current_password %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "Save changes", class: "btn btn-link setup-button" %>
      </div>
      <% end %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<% end %>

<div class="delete-form text-center">
  <h3>Cancel my account</h3>
  <p >We're sorry to see you go :(<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link setup-button" %></p> 
</div>
