
<div class='text-center'>
  <h2>Create Account</h2>
</div>

<div class='text-center'>
  <p>Already have an account?<br><%= link_to('Log in here', new_user_session_path) %></p>
</div>

<div class="login-form">
  <div class="socialicon">
    <%= image_tag 'facebook-circle-icon.png' %>
    <%= link_to "Connect with Facebook" %>
    <%= image_tag 'google-circle-icon.png' %>
    <%= link_to "Connect with Google" %>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="text-center">
    <%= devise_error_messages! %>
  </div>

  <div class="setup-wrapper" >
    <%= bootstrap_form_for(@user) do |f| %>
    <div class='setup-form'>
      <%= f.email_field :email %>
      <%= f.text_field :username %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.date_field :dob, label: "Date of birth" %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Create", class: "btn btn-link setup-button" %>
    </div>
    <% end %>
  </div>

<% end %>

<% render "devise/shared/links" %>
