<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="setup-wrapper" >
    <%= bootstrap_form_for(@post) do |f| %>
    <div class='setup-form'>
      <%= f.text_field :title %>
      <%= f.text_field :brand %>
      <%= f.text_field :asking_price %>
      <%= f.text_field :category %>
      <%= f.text_field :description %>
      <%= form.file_field :images, multiple: true %>
      <%= f.text_field :size %>
      <%= f.text_field :condition %>
      <%= f.text_field :auction %>
      <%= f.submit "Submit", class: "btn btn-link setup-button" %>
    </div>
    <% end %>
  </div>
<% end %>
