<p id="notice"><%= notice %></p>

<% if @posts.blank? %>
  <h4>There are no posts containing the term <%= params[:search] %>.</h4>
<% end %>

<div class="row">
<% @posts.each do |post| %>
<div class="index-post">
<div class=".col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0">
  <% if post.images.present? %>
    <div class="text-center"><%= link_to image_tag(post.images_urls(:thumb)[0]), post %></div>
    <% end %>
    <br>
    <div class="text-center"><%= link_to post.brand %> | <%= link_to post.title %></div>
    <br>
    <div class="text-center"><%= link_to post.asking_price %></div>
  <%= link_to 'Show', post %> <%= link_to 'Edit', edit_post_path(post) %> <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
<% end %>
</div>




<br>

<%= link_to 'New Post', new_post_path %>
