<p id="notice"><%= notice %></p>

<% if @posts.blank? %>
  <h4>There are no posts containing the term <%= params[:search] %></h4>
<% end %>

<div class="row">
<% @posts.each do |post| %>
<div class="index-post">
<div class="col-12 col-sm-2 col-md-4 col-lg-4">
  <% if post.images.present? %>
    <div class="text-center"><%= link_to image_tag(post.images_urls(:thumb)[0]), post %></div>
    <% end %>
    <br>
    <div class="text-center"><%= link_to post.brand %> | <%= link_to post.title %></div>
    <br>
    <div class="text-center"><%= link_to post.asking_price %></div>
</div>
</div>
<% end %>
</div>