<p id="notice"><%= notice %></p>


<div class="text-center">
  <%= @post.brand %>
</div>

<div class="text-center">
  <%= @post.title %>
</div>

<div class="text-center">
   <% @post.images.each do |image| %>
    <%= image_tag(image.url) %>
    <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col">Asking Price: <%= @post.asking_price %></div>
    <div class="col">Size: <%= @post.size %></div>
    <div class="w-100"></div>
    <div class="col">Condition: <%= @post.condition %></div>
    <div class="col">Category: <%= @post.category %></div>
    <div class="w-100"></div>
    <div class="col">Shipping: <%= @post.shipping %></div>
    <div class="col">Color: <%= @post.color %></div>
  </div>
</div>

<div class="text-center">
  <%= @post.description %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>



<%= @post.user.username %>
<br>
<%= link_to "View Profile", current_user  %> | <%= link_to 'Message', new_conversation_path %>

