<p id="notice"></p>

<div class="float-left">
  <%= link_to 'Back', posts_path %>
</div>

<div class = "post-heading">
  <div class="text-center">
    <h1><%= @post.brand.upcase %></h1>
  </div>

  <div class="text-center">
    <h1><%= @post.title.upcase %></h1>
  </div>
</div>

  <div class="text-center">
    <% if user_signed_in? && current_user.id == @post.user_id %>
    <%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>

<div class"post-image">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
      <li data-target="#carousel" data-slide-to="5"></li>
      <li data-target="#carousel" data-slide-to="6"></li>
    </ol>
    <div class="text-center">
      <div class="carousel-inner">
      <% i = 0 %>
      <% @post.images.each do |image| %>
        <% if i == 0 %>
        <div class="carousel-item active">
          <% i = i + 1 %>
        <%else %>
        <div class="carousel-item">
        <%end%>
        <%=link_to image_tag image.url %>
        </div>
      <%end%>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="payment">
<p>Buy it now if you want</p>
<%= form_with(model: @charge) do |f| %> 
  <%= f.hidden_field :video_id %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @post.brand %> <%= @post.title %>"
          data-email="<%= current_user.email %>"
          data-amount="<%= @post.asking_price * 100 %>"
          data-currency="aud"
          data-locale="auto"></script>
<% end %>
</div>

<div class="post-info text-center">
  <div class="container" >
    <div class="row">
      <div class="col">Asking Price: <b><%= @post.asking_price %></b></div>
      <div class="col">Size: <%= @post.size %></div>
      <div class="w-100"></div>
      <div class="col">Condition: <%= @post.condition %></div>
      <div class="col">Category: <%= @post.category %></div>
      <div class="w-100"></div>
      <div class="col">Shipping: <%= @post.shipping %></div>
      <div class="col">Color: <%= @post.color %></div>
    </div>
  </div>
</div>

<div class="post-description">
  <h4>Description</h4>
  <%= @post.description %>
</div>

<div class="post-contact">
  <b><%= @post.user.username %></b><br>
  <%= link_to "View Profile", user_path(@post.user)  %> |

  <% if !Conversation.between(current_user, @post.user).present? %> 
  <%= link_to 'Message', conversations_path(user2_id: @post.user.id), method: :post %>
  <% else %>
  <%= link_to 'Message', conversation_messages_path(Conversation.between(current_user, @post.user).first) %>
  <% end %>
</div>

Convert price to different currency
<%= form_with local: true, method: :get do |f| %>
<%= f.text_field :number %>
<%= f.button "Convert" %>
<% end %>

<% @conversion['rates'].each do |currency, rate| %>
<% if params[:number] %>
  <li><%= "#{currency} : #{number_to_currency(rate.*params[:number].to_i)}" %></li>
<% end %>
<% end %>

