<%= form_with(model: shoe, local: true) do |form| %>
  <% if shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
      <% shoe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :shoe_title %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :shoe_type %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :shoe_brand %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :shoe_size %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :shoe_description %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_area :color, id: :shoe_color %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :shoe_rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
