<p id="notice"><%= notice %></p>

<% if @posts.blank? %>
  <h4>There are no posts containing the term <%= params[:search] %>.</h4>
<% end %>

<div class="row">
<% @shoes.each do |shoe| %>
<div class="index-post">
<div class=".col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0">
  <% if shoe.images.present? %>
    <div class="text-center"><%= link_to image_tag(shoe.images_urls(:thumb)[0]), shoe %></div>
    <% end %>
    <br>
    <div class="text-center"><%= link_to shoe.brand %> | <%= link_to shoe.title %></div>
</div>
</div>
<% end %>
</div>


<%= link_to 'New Shoe', new_shoe_path %>
