<p id="notice"><%= notice %></p>



<div class="text-center"><%= @shoe.brand %></div>

<div class="text-center"><%= @shoe.title %></div>




<div>
   <% @shoe.images.each do |image| %>
    <%= image_tag(image.url) %>
    <% end %>
</div>

<%= link_to "Delete", shoe_image_path(@shoe), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %>


<p>
  <strong>Title:</strong>
  <%= @shoe.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @shoe.category %>
</p>


  

<p>
  <strong>Size:</strong>
  <%= @shoe.sex %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shoe.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @shoe.color %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @shoe.rating %>
</p>

<%= render 'comments/comment' %>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
