<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <div class="logo" >
      <%= image_tag "solematewhite.png" %>
     </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Shoes', shoes_url(@shoe) %></li>
      <li><%= link_to 'Posts', posts_url(@post) %></li>
      <li><%= link_to 'Messages', conversations_url(@conversation) %></li>
      <% if user_signed_in? %>
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>      
      <% else %>
      <li><%= link_to('Login', new_user_session_path)  %> | <%= link_to('Sign up', new_user_registration_path)  %>
      <% end %>
    </ul>
  </div>
</nav>
