<!DOCTYPE html>
<html>
  <head>
    <title>Sole mate | Shoes. Here.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application','https://fonts.googleapis.com/css?family=Roboto:300,400,700' , media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/header'%>
    
  </head>

  <body>
    <p class="notice text-center"><%= notice %></p>
    <p class="alert text-center"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
